@font-face {
    font-family: "Montserrat Alternates";
    src: url('../fonts/ma-regular.ttf') format('ttf'),
         url('../fonts/ma-bold.ttf') format('ttf'),
         url('../fonts/ma-bold-italic.ttf') format('ttf');
}

@font-face {
    font-family: "Manrope";
    src: url('../fonts/manrope-variable.ttf') format('ttf');
}